* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {
    margin: 1em 0 1em 0;
    padding: 1em;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    padding: 1em;
    border-style: none;
    background-color: white;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    width: 100%;
    margin: .5em 0 .5em 0;
}

.form-label {
    font-weight: bold;
}

.btn-block {
    width: 100%;
}

.btn {
    padding: 8px;
    color: white;
    font-weight: bold;
    border: 1px solid lightgray;
    background-color: #0fb784;
}

.form-control {
    margin: 4px 0 4px 0;
    padding: .5em 0 .5em 0;
    width: calc(100% - 4px);

}
