
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    height: 25px;
    width: 800px;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    border: 2px solid rgb(215, 217, 220);
}

#message-info {
    background: rgba(0, 0, 255, 0.1);
    color: 	rgb(56, 55, 145);
}

#message-success {
    background: rgba(0, 255, 0, 0.1);
    color: rgb(72, 124 , 81);
}

#message-warning {
    background: rgba(255, 255, 0, 0.1);
    color: rgb(145, 120, 56);
}

#message-error {
    background: rgba(255, 0, 0, 0.1);
    color: rgb(138, 60, 74);


}
.text {
    padding: 4px;
    margin: 1px;
}